{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">


{% block content %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">03 : About me</h1>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h3>Quality Assurance Expert</h3>
                <p>I am an experienced Quality Assurance (QA) Engineer with over 5 years executing comprehensive test
                  cases and automation scripts. I am skilled in Python, Selenium, Cypress, JMeter, and Postman. I can
                  collaborate cross-functionally to deliver high-quality software.</p>
                <h3>Passionate About Testing</h3>
                <p>I have expertise in testing frameworks like Selenium and Cypress as well as API testing tools like
                  Postman and REST Assured. I am also knowledgeable in defect tracking with Jira and Trello and test
                  management systems like TestRail and Zephyr.</p>
                <h3>Well-Rounded Technical Skills</h3>
                <p>In addition to my QA expertise, I have programming skills in Python, Java, and Javascript. I am
                  familiar with web technologies like HTML and CSS. I also have experience with tools like Git, Jenkins,
                  AWS, MongoDB, MySQL, Windows, and Linux.</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="https://res.cloudinary.com/noiro/image/upload/v1689882362/personal/me_640x764-modified_faec59.jpg"
                  class="img-responsive" alt="">
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
{% endblock content %}